@model IEnumerable<RestApi.Models.Customer>
@{
    ViewData["Title"] = "Get Result";
}

<div class="bakgrund container bg-light">
    <div class="column">
        <div class="row">
            <a href="/Home/GetResult" class="getButton btn btn-block disabled">Get/api/customer</a>
        </div>

        <div class="row" style="margin-bottom: 5px">
            <span class="input-group-text bg-secondary" style="margin-right:20px; color: white;">Mediatype</span>

            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Choose format
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">application/json</a>
                    <a class="dropdown-item" href="#">text/json</a>
                    <a class="dropdown-item" href="#">plain text</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="input-group">
                <span class="input-group-text col-12">Request:</span>
            </div>
            <div class="input-group">
                <textarea class="form-control" aria-label="requestTextArea"></textarea>
            </div>
        </div>

        <div class="row">
            <div class="input-group">
                <span class="input-group-text col-12">Result: </span>
                <span class="input-group-text col-12">Code 201 - success</span>
            </div>

            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LastName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                    </tr>
                }
            </table>
        </div>

        <div class="row">
            <a href="/Home/GetRequest" class="newGetRequestButton btn">Make new Request</a>
            <a href="Index" class="backToHomeButton btn btn-primary">Main menu</a>
        </div>

    </div>
</div>